<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>477379337638-8gr2u2mu2h609j9nb1igbrbcdldccrab.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.477379337638-8gr2u2mu2h609j9nb1igbrbcdldccrab</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>477379337638-kmhnvkcgt005dqb6t83sba57mtj4gk2c.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBEkbD6d9ZbB9I1uace98BO3JcLJxJpd9w</string>
	<key>GCM_SENDER_ID</key>
	<string>477379337638</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.levu.connecthealth</string>
	<key>PROJECT_ID</key>
	<string>connecthealth-d7456</string>
	<key>STORAGE_BUCKET</key>
	<string>connecthealth-d7456.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:477379337638:ios:d6a21e505ecdc4dfd54367</string>
	<key>DATABASE_URL</key>
	<string>https://connecthealth-d7456.firebaseio.com</string>
</dict>
</plist>